{{> header }}

<section class="article">
  <header class="article-header">
    <h1 class="article-title">{{ article.title }}</h1>
    <p class="article-meta">
      By <strong>{{ article.author.firstname }}</strong>, on <strong>{{ article.addedAt }}</strong>
    </p>
  </header>

  <div class="article-description">
    {{ article.headline }}

    {{ article.content }}
  </div>
</section>

{{> footer }}
    
